/* gulag mascot/avatar */

.gulag-avatar {
  background-image: url("/static/images/konatafix.png");
  background-repeat: no-repeat;
  /*     available avatar widths & heights      */
  /* gulag.png:   width: 512px; height: 363px;  */
  /* pippi.png:   width: 372px; height: 432px;  */
  width: 372px;
  height: 432px;
  left: 230px;
  margin: 0;
  padding: 0;
  position: relative;
}

.main-block {
  width: 1024px;
}

.my-con {
  margin: 53px 0 0 0;
  width: 100%;
  max-width: inherit;
}

#title, #mascot {
  animation: appear 0.4s ease;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1023px) {
  .gulag-avatar {
    display:none;
  }
  #home-hero .columns.flex-vcenter {
    padding: 0 20px;
  }
  .main-block {
    width: initial;
    height: 285px;
  }
  #mascot {
    display: none !important;
    z-index: 20;
  }
  .my-con {
    margin: 60px 0 0 0;
  }
  #home-hero {
    height: 300px;
  }
}

#home-hero .splash {
/*   background: hsla(var(--main), 40%, 40%, 0.4); */
  background: url("https://assets.fortloli.xyz/backgrounds/lsbg13.jpg");
  filter: blur(3px);
  -webkit-filter: blur(3px);
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  margin: 0;
}
